<% content_for :head do %> 
  <meta title="New Article">
  <meta name="description" content="Write a new blog article ">
<% end %>

<h2> Create a New Article </h2> 

<%= simple_form_for @article, :html => {:multipart => true } do |f| %>
  <%= f.input :title, required: true %>
  <%= f.input :body, required: true, placeholder: 'Enter dazzling thoughts here...' %>
  <%= f.input :keywords %>
  <%= f.input :photo, :as => :file %>
  <%= f.button :submit  %>
<% end %>